 
a {
    display: block;
    color: #333;
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: top;
}

button {
    outline: none;
}

input,
select,
textarea {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    border: 1px solid #ccc;
    border-radius: 0;
    font-family: 'Noto Sans KR', "Malgun Gothic", "Dotum", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: #aaa;
}

select {
    appearance: none;
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
}

.select::after {
    content: "";
    width: 6px;
    height: 6px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%) rotate(45deg);
    pointer-events: none;
}

.w540 {
    width: 540px;
    margin: 0 auto;
}

.w1180 {
    width: 1180px;
    margin: 0 auto;
}

.w1000 {
    width: 1000px;
    margin: 0 auto;
}


.header {
    padding-top: 35px;
    padding-bottom: 15px;
    border-bottom: 1px solid #666;
}

.con1 {
    padding-top: 70px;
}

.con1 .tx1 {
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}

.con1 .tx2 {
    margin-top: 20px;
    font-size: 15px;
    color: #999;
    text-align: center;
}

.con1 .tabHeader {
    margin-top: 80px;
    margin-bottom: 40px;
    display: flex;
}

.con1 .tabHeader>* {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    color: #777;
    background-color: #f7f7f7;
    border: 1px solid #e4e4e4;
    border-bottom: 1px solid #f43142;
}

.con1 .tabHeader>*.on {
    color: #f43142;
    font-weight: 500;
    border-top: 1px solid #f43142;
    border-right: 1px solid #f43142;
    border-left: 1px solid #f43142;
    border-bottom: none;
    background-color: #fff;
}

.con1 .tabHeader>div {
    background-color: #fff;
    border-top: none;
    border-right: none;
}

.con1 .inputWrap {
    margin: 16px 0;
    display: flex;
}

.con1 .inputWrap .tx3 {
    min-width: 120px;
    padding-left: 14px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 300;
}

.con1 .inputWrap .df {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.con1 .inputWrap .hp {
    color: #999;
}

.con1 .inputWrap .df .w120 {
    width: 120px;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}

.con1 .inputWrap .df input,
.con1 .inputWrap .df select {
    font-size: 17px;
    color: #999;
}

.con1 .bottom_btn {
    margin-top: 30px;
}

.con1 .bottom_btn a {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

.con1 .bottom_btn a.red {
    color: #fff;
    background-color: #ff5550;
}

.con1 .le_bullet {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    color: #666;
}

.le_bullet {
    padding-left: 10px;
    position: relative;
}

.le_bullet::after {
    content: "";
    width: 2px;
    height: 2px;
    display: block;
    background-color: #666;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 0;
}

.con1_1 .tx1 {
    margin-top: 75px;
    font-size: 19px;
}

.con1_1 .red {
    color: #fc341c;
}

.con1_1 .tx2 {
    margin-top: 20px;
    margin-bottom: 90px;
    line-height: 1.4;
    font-size: 16px;
}

.con2 {
    margin-bottom: 90px;
    padding-top: 70px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pageNavi {
    display: flex;
    align-items: center;
}

.pageNavi .dep1 {
    display: flex;
    align-items: center;
}

.pageNavi span {
    margin: 0 10px;
}

.pageNavi .tx1 {
    margin-right: 5px;
    font-size: 17px;
    font-weight: 900;
    color: #ccc;
}

.pageNavi .tx2 {
    font-size: 15px;
    font-weight: 500;
    color: #aaa;
}

.pageNavi .dep1.on .tx1 {
    color: #f52739;
}

.pageNavi .dep1.on .tx2 {
    color: #333;
}

.title_1 {
    font-size: 34px;
}

.con3 .thead {
    min-height: 60px;
    border-top: 1px solid #444;
    background-color: #f7f7f7;
}

.con3 .tbody {
    min-height: 140px;
}

.con3 .tr {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.con3 .tr>div:nth-child(1) {
    width: 520px;
}

.con3 .tr>div:nth-child(2) {
    width: 160px;
}

.con3 .tr>div:nth-child(3) {
    width: 130px;
}

.con3 .tr>div:nth-child(4) {
    width: 130px;
}

.con3 .tr>div:nth-child(5) {
    width: 90px;
}

.con3 .tr>div:nth-child(6) {
    width: 90px;
}

.con3 .tr>div:nth-child(7) {
    width: 60px;
}

.con3 .th {
    font-size: 15px;
    font-weight: 500;
}

.con3 .td {
    font-size: 16px;
}

.con3 .fz18 {
    font-size: 18px;
}

.con3 .fz18 span {
    font-size: 15px;
}

.con3 .bold {
    font-weight: 700;
    display: inline-block;
}

.con3 .imgWrap {
    padding: 0 20px;
    display: flex;
    text-align: left;
}

.con3 .imgWrap img {
    border: 1px solid #ddd;
}

.con3 .imgWrap .tx1 {
    font-size: 15px;
    line-height: 1.5;
}

.con3 .right {
    width: 100%;
    margin-left: 15px;
}

.con3 .numUpDown {
    height: 39px;
    display: flex;
    align-items: center;
}

.con3 .numUpDown .up,
.con3 .numUpDown .down {
    border: 1px solid #bbb;
    cursor: pointer;
}

.con3 .numUpDown input {
    width: 64px;
    height: 39px;
    text-align: center;
    border: none;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.con3 .addInfo {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    display: flex;
}

.con3 .addInfo .inputW {
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.con3 .addInfo .inputW:last-child {
    margin-bottom: 0;
}

.con3 .addInfo .inputW .ri {
    display: flex;
    align-items: center;
}

.con3 .addInfo .inputW input {
    width: 70px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #bbb;
    text-align: center;
}

.con3 .addInfo .label {
    height: 20px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    color: #fff;
    border-radius: 4px;
    font-size: 12px;

}

.con3 .addInfo .label.blue {
    background-color: #4d95f7;
}

.con3 .riW {
    margin-left: 10px;
}

.con3 .riW .le {
    width: 110px;
}

.con3 .top_dec {
    margin-bottom: 10px;
}

.con3 .top_dec .red {
    color: #f52739;
}

.con4 {
    height: 150px;
    margin-top: 70px;
    background-color: #f7f7f7;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    text-align: center;
    vertical-align: middle;
    font-size: 21px;
    line-height: 150px;
}

.con4 .bold {
    font-weight: 700;
}

.con4 .red {
    margin-left: 10px;
    font-size: 32px;
    font-weight: 900;
    color: #ff3333;
}

.bottom_btnWrap {
    margin-top: 40px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
}

.bottom_btnWrap a {
    width: 270px;
    height: 70px;
    margin: 0 5px;
    border-radius: 2px;
    text-align: center;
    line-height: 70px;
    font-size: 19px;
    font-weight: 700;
    color: #ff0700;
    border: 1px solid #ff5550;
}

.bottom_btnWrap a.red {
    background-color: #ff5550;
    color: #fff;
}

.con5 {
    margin-bottom: 55px;
}

.con5 .tx1 {
    margin-bottom: 20px;
    font-size: 22px;
}

.con5 .tr {
    min-height: 64px;
    border-bottom: 1px solid #ddd;
    display: flex;
}

.con5 .tr:nth-child(2) {
    border-top: 1px solid #444;
}

.con5 .tr .th {
    width: 170px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.con5 .tr .td {
    padding: 10px 32px;
    display: flex;
    align-items: center;
}

.con5 .tr .td.col {
    flex-direction: column;
    align-items: initial;
}

.con5 .tx2 {
    margin: 5px 0;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.con5 .btn {
    height: 40px;
    padding: 0 28px;
    margin-left: 30px;
    line-height: 40px;
    color: #fb4445;
    border: 1px solid #fb4445;
    text-align: center;
    border-radius: 2px;
    font-size: 14px;
}

.con5 .fz25 {
    font-size: 24px;
    font-weight: 900;
    color: #ff3333;
}

.con5 .fz25 span {
    font-size: 18px;
    font-weight: 400;
    color: #333;
}

.con5 .select {
    margin-right: 10px;
}

.con5 select {
    height: 40px;
}

.con5 .w140 {
    width: 140px;
}

.con5 .w260 {
    width: 260px;
}

.ml0 {
    margin-left: 0 !important;
}

.con6 {
    margin-top: 130px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.con6 .tx1 {
    margin-bottom: 30px;
    font-size: 29px;
    font-weight: 500;
}

.con6 .tx2 {
    margin-bottom: 130px;
    font-size: 17px;
    font-weight: 300;
    color: #666;
}

.con7 {
    margin-top: -50px;
    padding: 30px;
    border: 1px solid #ddd;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
}

.w1200 {
    width: 1200px;
    margin: 0 auto;
}

.pageNavi_2 {
    padding: 15px 0 25px;
    display: flex;
    align-items: center;
}

.pageNavi_2 a {
    height: 18px;
    margin-right: 15px;
    line-height: 18px;
    color: #444;
    font-size: 15px;
    font-weight: 300;
}

.pageNavi_2 select {
    width: auto;
    height: 18px;
    padding-right: 40px;
    line-height: 18px;
    border: none;
    color: #444;
    font-size: 15px;
    font-weight: 300;
    background-image: url(../../images/myinfo/icon6.png);
    background-repeat: no-repeat;
    background-position: right 15px top 0;
}

.con8 {
    display: flex;
}

.con8 .le {
    width: 190px;
}

.con8 .le .tx1 {
    padding: 50px 0;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    border-top: 2px solid #333;
    border-bottom: 1px solid #ccc;
}

.con8 .le .tx2 {
    padding: 22px 0;
    padding-left: 15px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
}

.con8 .le .tx2.on {
    color: #fb391e;
}

.con8 .ri {
    width: 100%;
    padding-left: 40px;
}

.con8 .ri .title_1 {
    margin-bottom: 50px;
}

.con9 .tr {
    min-height: 60px;
    display: flex;
    border-bottom: 1px solid #eee;
    line-height: 1.8;
}

.con9 .tr:nth-child(1) {
    border-top: 1px solid #333;
}

.con9 .th {
    width: 170px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.con9 .td {
    padding: 10px;
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.con9 input {
    height: 40px;
}

.bottom_btnWrap_2 {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.bottom_btnWrap_2 a {
    width: 150px;
    height: 45px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 45px;
    border-radius: 2px;
}

.bottom_btnWrap_2 .red {
    background-color: #ff5550;
    color: #fff;
}

.con10 {
    padding: 80px 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.con10 .tx2 {
    font-size: 17px;
    font-weight: 300;
    color: #444;
    line-height: 2;
}

.con10 .tx2 .bold {
    display: inline-block;
    font-weight: 500;
}

.con11 {
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    border-bottom: 1px solid #eee;
}

.con11 .tx3 {
    font-size: 15px;
}

.con11 input {
    width: 190px;
    height: 40px;
    margin-left: 24px;
}

.con12 {
    width: 100%;
    font-size: 15px;
}

.con12 .tr {
    display: flex;
}

.con12 .th {
    width: 100%;
    min-height: 60px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    border-top: 1px solid #333;
    border-bottom: 1px solid #eee;
}

.con12 .td {
    width: 100%;
    min-height: 60px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eee;
    color: #444;
    font-weight: 300;
}
.con12 .th:nth-child(1),
.con12 .td:nth-child(1){
    max-width: 70px;
}
.con12 .th:nth-child(4),
.con12 .td:nth-child(4),
.con12 .th:nth-child(5),
.con12 .td:nth-child(5){
    max-width: 190px;
}
.con12 .td.tal{
    justify-content: left;
}
.con12 .td a{
    width: 90px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    text-align: center;
}
.con13{
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
}
.con13 a{
    width: 95px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    border-radius: 2px;
}
.con13 .red{
    background-color: #ff5550;
    color: #fff;
}
.pageNum{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pageNum a{
    width: 35px;
    height: 35px;
    margin: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 300;
    color: #444;
}