/*========================== 타이틀 공통사용: 수정 (내정보라인과맞충)  ==========================*/
.sub_menu_title {
    font-size: 32px;
    letter-spacing: -2.5px;
    line-height: 40px;
    color: #333;
    margin-bottom: 18px
}


/*========================== 간편결제등록  ==========================*/

.con12 .tr {
    display: flex;
}

.con12 .th {
    width: 100%;
    min-height: 62px;
    min-height: 62px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    border-top: 1px solid #333;
    border-bottom: 1px solid #e7e7e7;
    font-size:15px;
    font-weight:400;
}

.con12 .td {
    width: 100%;
    min-height: 60px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d7d7d7;
    color: #444;
    font-size:16px;
    font-family: 'Noto Sans KR'; 
    font-weight: 300;
    line-height:010px;
}
.con12 .th:nth-child(1),
.con12 .td:nth-child(1){
    max-width: 70px;
}
.con12 .th:nth-child(4),
.con12 .td:nth-child(4),
.con12 .th:nth-child(5),
.con12 .td:nth-child(5){
    max-width: 190px;
}
.con12 .td.tal{
    justify-content: left;
}
.con12 .td a{
    width: 90px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    font-size:14px;
    font-weight: 300;
    border-radius: 2px;
}

.pageNum{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    
}
.pageNum a{
    width: 35px;
    height: 35px;  
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 300;
    color: #444;
    margin:0;
}

.pageNum a:hover{
    font-size: 17px;
    font-weight: 500;
    color: #fd413c;
    text-decoration: underline;
    margin:0;
}

.pageNum span{
    display:flex;   
    margin:0px;   
}

.pageNum .paging_number{
     display:flex;           
}


.pageNum .icon_page_first {
    background:url('../../images/myinfo/icon_page_first.png') no-repeat; 
    width:35px;
}
.pageNum .icon_page_pre {
    background:url('../../images/myinfo/icon_page_pre.png') no-repeat;
    width:35px;
    margin:0 14px 0 8px; 

}
.pageNum .icon_page_next {
    background:url('../../images/myinfo/icon_page_next.png') no-repeat; 
    width:35px;
    margin:0 8px 0 14px;       
}
.pageNum .icon_page_end {
    background:url('../../images/myinfo/icon_page_end.png') no-repeat; 
    width:35px;
}


.pageNum .icon_page_first a:hover {
    background:url('../../images/myinfo/icon_page_first_over.png') no-repeat; 
    width:35px;
}
.pageNum .icon_page_pre a:hover {
    background:url('../../images/myinfo/icon_page_pre_over.png') no-repeat; 
    width:35px;  
}
.pageNum .icon_page_next a:hover {
    background:url('../../images/myinfo/icon_page_next_over.png') no-repeat; 
    width:35px;
}
.pageNum .icon_page_end a:hover {
    background:url('../../images/myinfo/icon_page_end_over.png') no-repeat;  
    width:35px;
}















.con13{
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
}
.con13 a{
    width: 95px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    border-radius: 2px;
}
.con13 .red{
    background-color: #ff5550;
    color: #fff;
}










