/*========================== 왼쪽메뉴 ==========================*/

.lnb_wrap {
    width: 190px;
    background:re;
}

.lnb_wrap .lnb_tit {
    padding: 37px 0;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    border-top: 2px solid #333;
    border-bottom: 1px solid #ccc;
}

.lnb {
    padding: 19px 0;
    padding-left: 14px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    letter-spacing: -0.7px;
    font-weight: 400;
    color: #000;
}

.lnb_on {    
    padding: 19px 0;
    padding-left: 14px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    letter-spacing: -0.7px;
    font-weight: 400;
    color: #fb391e;   
}



