@charset "utf-8";


/* 초기화, 공통 */
body {padding:0; margin:0; font-family:'Noto Sans KR'; font-size:14px;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
ul, dl, dt, dd {margin:0;padding:0;list-style:none}
label, input, button, select, img {vertical-align:middle;}
input[type="submit"] {cursor:pointer}
button {cursor:pointer}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;}
a {color:#000;text-decoration:none}
img {max-width:100%;}
table {padding:0;border:0;border-spacing:0px;border-collapse:collapse;}
th, td {padding:0;}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=text], input[type=password], textarea {outline:none;}

.tnb .inner, 
.hd_wrapper, 
.gnb_wr, 
.item_section, 
.category_section,
.ft {width:1200px;}

.wrapper {min-width:1200px;}

.container {position:relative; margin:0 auto; width:1200px; min-height:500px; height:auto !important;}

.bx-wrapper {
	border: 0;
	margin: 0;
	-moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* 상단 */
.tnb {height:30px; background:#f5f6fa; border-bottom:1px solid #ebecf0;}
.tnb .inner {margin:0 auto;}
.tnb .hd_qnb {float:right; text-align:right;}
.tnb .hd_qnb:after {display:block; visibility:hidden; content:""; clear:both;}
.tnb .hd_qnb li {float:left; border-right:1px solid #d8d9dc; line-height:12px; margin:8px 10px 8px 0; padding-right:10px;}
.tnb .hd_qnb li:last-child {border-right:0; padding-right:0;}
.tnb .hd_qnb li a {font-size:12px; color:#6f6f6f;}

.hd_wrapper {height:80px; margin:0 auto;}
.hd_wrapper .logo {float:left; padding:25px 0 0 9px;}
.hd_sch_wr {float:left; padding:18px 0 0 0; margin-left:30px; width:430px; *height:47px;}
.hd_sch {}
.hd_sch .sch_input {float:left; width:380px; height:47px; border:2px solid #e03b04; border-right:0; border-radius:30px 0 0 30px; padding-left:20px;}
.hd_sch .sch_submit {position:relative; float:left; width:50px; height:47px; border:2px solid #e03b04; border-left:0; background:none; border-radius:0 30px 30px 0; outline:none;}
.hd_sch .sch_submit .sch_icon {position:absolute; display:inline-block; top:10px; right:15px; width:25px; height:25px; background:url('../img/icon_search.png') no-repeat;}

.gnb {position:relative; border-top:1px solid #d9d9d9; border-bottom:1px solid #c4c4c4;}
.gnb_wr {margin:0 auto; height:54px;}
.gnb_wr:after {display:block; visibility:hidden; content:""; clear:both;}

.gnb .gnb_depth_1_ul:after {display:block; visibility:hidden; content:""; clear:both;}
.gnb .gnb_depth_1_ul {float:left;}
.gnb .gnb_depth_1_li {float:left; line-height:54px;}
.gnb .gnb_depth_1_li:first-child {border-left:1px solid #d9d9d9; border-right:1px solid #d9d9d9;}
.gnb .gnb_depth_1_a {display:block; font-size:17px; height:54px; padding:0 20px;}
.gnb .gnb_depth_1_li:nth-child(2) .gnb_depth_1_a {padding-left:35px;}
.gnb .gnb_mnal {width:188px;}
.gnb .gnb_menu_btn {display:block; width:100%; height:54px; margin:0; padding:0; border:0; background:none; vertical-align:top; font-size:17px; outline:none; font-family:'Noto Sans KR';}
.gnb .gnb_menu_icon {float:left; position:relative; width:26px; height:54px; margin-left:34px;}
.gnb .gnb_menu_icon span {float:left; margin-top:6px; width:26px; height:2px; background:#111;}
.gnb .gnb_menu_icon span:first-child {margin-top:18px;}
.gnb .gnb_menu_text {float:left; margin-left:17px; height:54px; line-height:54px;}

.gnb .gnb_depth_1_ul_right {float:right;}
.gnb .gnb_depth_1_ul_right:after {display:block; visibility:hidden; content:""; clear:both;}
.gnb .gnb_depth_1_ul_right li {position:relative; float:left; line-height:54px;}
.gnb .gnb_depth_1_ul_right li:last-child {border-left:1px solid #d9d9d9; border-right:1px solid #d9d9d9;}
.gnb .gnb_depth_1_ul_right li a {display:block; padding:0 12px; font-size:15px; height:54px;}
.gnb .gnb_depth_1_ul_right li a span {float:left; display:inline-block;}
.gnb .gnb_depth_1_ul_right li .short_line {display:inline-block; position:absolute; top:50%; left:0; width:1px; height:16px; background:#d9d9d9; margin-top:-8px;}
.gnb .gnb_depth_1_ul_right li.gnb_depth_1_li_bill a {color:#dd0000; font-weight:bold;}
.gnb .icon_bill {width:30px; height:30px; background:url('../img/icon_bill.png') no-repeat; vertical-align:top; margin:13px 5px 0 0;}
.gnb .icon_cart {float:left; width:18px; height:16px; background:url('../img/icon_cart.png') no-repeat; vertical-align:top; margin:19px 5px 0 0;}
.gnb .icon_cart_cnt {min-width:20px; height:20px; padding:0 6px; line-height:20px; background:#111; border-radius:20px; color:#fff; text-align:center; margin:17px 0 0 5px; font-size:13px;}


/* 메인 */
.main_slider {}
.main_slider_wr {max-width:1920px; max-height:400px; overflow:hidden; margin:0 auto;}
.main_slider_wr .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {width:100%; text-align:center;}
.main_slider_wr .bx-wrapper .bx-pager, .main_slider_wr .bx-wrapper .bx-controls-auto {bottom:25px;}
.main_slider_wr .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {z-index:1;}
.main_slider_wr .bx-wrapper .bx-controls-auto .bx-start {opacity:1;}
.main_slider_wr .bx-wrapper .bx-controls-auto .bx-stop {opacity:0.25;}
.main_slider_wr .bx-wrapper .bx-pager.bx-default-pager a {margin:0 12px; opacity:0.25;}
.main_slider_wr .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.main_slider_wr .bx-wrapper .bx-pager.bx-default-pager a.active, 
.main_slider_wr .bx-wrapper .bx-pager.bx-default-pager a:focus {opacity:1;}

.main_slider_wr .bx-wrapper .bx-controls-direction a.bx-prev {width:80px; height:80px; margin-top:-40px; background:url('../img/slider_prev.png') no-repeat; left:11.45%;}
.main_slider_wr .bx-wrapper .bx-controls-direction a.bx-next {width:80px; height:80px; margin-top:-40px; background:url('../img/slider_next.png') no-repeat; right:11.45%;}

.item_section {margin:60px auto;}
.item_section_title {padding:0 5px; margin-bottom:22px;}
.item_section_title span {color:#000; font-size:24px;}
.item_section_title a {float:right; display:inline-block; color:#9c9794; font-size:13px; margin:10px 5px 0 0;}

.item_slider_1_wr {border-left:1px solid #e4e5e7; border-right:1px solid #e4e5e7;}
.item_slider_1 {}
.item-slide {position:relative; width:300px !important; height:360px; border:1px solid #e4e5e7; border-left:1px solid #fff;}

.item_slider_1_wr .bx-wrapper .bx-controls-direction a.bx-prev {width:24px; height:53px; margin-top:-21px; background:url('../img/item_1_slider_prev.png') no-repeat; left:-60px;}
.item_slider_1_wr .bx-wrapper .bx-controls-direction a.bx-next {width:24px; height:53px; margin-top:-21px; background:url('../img/item_1_slider_next.png') no-repeat; right:-60px;}

.item_slider_wr a {display:block;}
.item_slider-img_wr {position:relative; height:252px;}
.item_slider-img_wr a {display:block; height:252px;}
.item_slider-img {position:absolute; width:100%; text-align:center; top:50%; transform:translateY(-50%);}
.item_slider-img img {display:inline-block;}
.item_slider-label {position:absolute; top:19px; left:19px; width:45px; height:50px; background:url('../img/item_label.png') no-repeat;}
.item_slider-label-num {margin-top:10px; text-align:center; color:#fff; font-size:18px; line-height:1; font-family: "LatoWeb";}
.item_slider-label-name {margin-top:2px; text-align:center; color:#fff; font-size:10px; line-height:1; font-family: "LatoWeb";}

.item_slider-info_wr {margin-top:3px; padding:0 30px;}
.item_slider-info-name1 {display:inline-block; width:100%; font-size:16px; color:#666; font-weight:300; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal;}
.item_slider-info-name2 {font-size:16px; color:#666; font-weight:300; margin-top:-9px;}
.item_slider-info-price {margin-top:12px; font-size:15px; color:#666;}
.item_slider-info-price strong {font-size:21px; color:#000; font-family:"LatoWeb";}
.item_slider-add_cart {border:0; position:absolute; width:40px; height:40px; background:url('../img/add_cart.png') no-repeat; background-position:center; bottom:20px; right:20px; border:1px solid #e5e5e5;}

.item_slider_2_wr {}
.item_slider_2 {}
.item_slider_2-slide {width:383px; height:268px;}

.item_slider_2_wr .bx-wrapper .bx-controls-direction a.bx-prev {width:24px; height:53px; margin-top:-58px; background:url('../img/item_1_slider_prev.png') no-repeat; left:-60px;}
.item_slider_2_wr .bx-wrapper .bx-controls-direction a.bx-next {width:24px; height:53px; margin-top:-58px; background:url('../img/item_1_slider_next.png') no-repeat; right:-60px;}

.item_slider_2-video_wr {border-radius:5px 5px 0 0; height:200px; overflow:hidden;}
.item_slider_2-video {position:relative; text-align:center;}
.item_slider_2-video_bg {position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:0.5; z-index:10;}
.item_slider_2-video_play {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); border:0; background:url('../img/video_play_btn.png') no-repeat; width:64px; height:73px; z-index:20;}
.item_slider_2-info_wr {margin-top:20px; padding:0 5px;}
.item_slider_2-info-subject {}
.item_slider_2-info-subject a {display:inline-block; width:100%; color:#333; font-size:16px; font-weight:500; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal;}
.item_slider_2-info-wr_name {color:#666; font-size:14px;}

.item_section_3_wr {padding:60px 0; background:#f0f3f8;}
.item_section_3_wr .item_section {margin:0 auto;}

.item_slider_3_wr .item-slide {width:280px !important; height:350px; background:#fff; border-left:1px solid #e4e5e7;}
.item_slider_3_wr .item_slider-img_wr {height:240px;}
.item_slider_3_wr .item_slider-img_wr a {height:240px;}
.item_slider_3_wr .item_slider-info_wr {margin-top:0;}
.item_slider_3_wr .bx-wrapper {background:none;}

.item_slider_3_wr .bx-wrapper .bx-controls-direction a.bx-prev {width:24px; height:53px; margin-top:-21px; background:url('../img/item_1_slider_prev.png') no-repeat; left:-60px;}
.item_slider_3_wr .bx-wrapper .bx-controls-direction a.bx-next {width:24px; height:53px; margin-top:-21px; background:url('../img/item_1_slider_next.png') no-repeat; right:-60px;}

.category_section {margin:60px auto 120px;}
.category_section_title {letter-spacing:-1px; font-family: "LatoWebLight"; font-size:20px; font-weight:300; color:#333; margin-bottom:12px;}
.category_section_title strong {letter-spacing:-2px; font-family:"LatoWebBold"; font-size:21px; color:#333;}

.category_wr {margin-bottom:30px; border-bottom:1px solid #ccc;}
.category_wr:after {display:block; visibility:hidden; content:""; clear:both;}

.category_wr-red {border-top:2px solid #cd5733;}
.category_wr-green {border-top:2px solid #649f21;}
.category_wr-blue {border-top:2px solid #5868be;}
.category_wr-red .category_menu_title, 
.category_wr-red .category_menu_li a {color:#e85547;}
.category_wr-green .category_menu_title, 
.category_wr-green .category_menu_li a {color:#69aa20;}
.category_wr-blue .category_menu_title, 
.category_wr-blue .category_menu_li a {color:#8594eb;}
.category_wr-red .category_item_price .btn_cart {background:url('../img/icon_cart_category_pink.png') no-repeat;}
.category_wr-green .category_item_price .btn_cart {background:url('../img/icon_cart_category_green.png') no-repeat;}
.category_wr-blue .category_item_price .btn_cart {background:url('../img/icon_cart_category_blue.png') no-repeat;}

.category_menu_wr {float:left; width:244px; height:544px; border-right:1px solid #ccc;}
.category_menu_title {font-size:26px; margin-top:30px; text-align:center; font-weight:500; letter-spacing:-1px;}

.category_menu_ul {margin-top:40px;}
.category_menu_li {padding:3px 20px;}
.category_menu_li a {display:block; font-size:15px;}

.category_item_list_wr {float:left; width:956px; height:544px; padding:0 18px; overflow:hidden;}
.category_item_ul {width:800px; margin:30px auto;}
.category_item_ul:after {display:block; visibility:hidden; content:""; clear:both;}
.category_item_li {float:left; width:164px; height:242px; margin:0 18px; *background:#f9f9f9;}
.category_item_img {position:relative; height:160px;}
.category_item_img img {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}

.category_item_name1 {font-size:14px; color:#666; font-weight:300;}
.category_item_name2 {font-size:14px; color:#666; font-weight:300;}
.category_item_price {font-size:14px; margin-top:5px;}
.category_item_price span {display:inline-block;}
.category_item_price .btn_cart {width:22px; height:22px; vertical-align:top; border:0; margin-right:4px;}
.category_item_price strong {font-family:"LatoWebBold"; font-size:17px;}

.category_item_list_wr .bx-wrapper .bx-controls-direction a.bx-prev {width:42px; height:42px; margin-top:-21px; background:url('../img/category_slider_prev.png') no-repeat; left:5px;}
.category_item_list_wr .bx-wrapper .bx-controls-direction a.bx-next {width:42px; height:42px; margin-top:-21px; background:url('../img/category_slider_next.png') no-repeat; right:5px;}


/* 서브페이지 */
.sub_nav_wr {margin:17px 0 25px;}
.sub_nav_ul {}
.sub_nav_ul:after {display:block; visibility:hidden; content:""; clear:both;}
.sub_nav_ul .sub_nav_li {position:relative; float:left; margin:0 6px; color:#4c4c4c; font-size:14px;}
.sub_nav_ul .sub_nav_li.sub_nav_li_home {margin:0;}
.sub_nav_ul .sub_nav_li a {display:inline-block; color:#4c4c4c; font-size:14px; padding:0 6px;}
.sub_nav_arrow {display:inline-block; width:4px; height:7px; vertical-align:middle; background:url('../img/icon_sub_nav_arrow.png') no-repeat; margin-top:-1px;}
.btn_sub_nav_more {display:inline-block; width:18px; height:18px; vertical-align:middle; background:url('../img/icon_sub_nav_more.png') no-repeat; margin:-2px 0 0 3px;}


/* 제품상세 */
.sit {}
.sit_ov_from {padding-bottom:60px; border-bottom:1px solid #d1d1d1;}
.sit_ov_from:after {display:block; visibility:hidden; content:""; clear:both;}
.sit_pvi {float:left; width:540px;}
.sit_pvi_big {position:relative; width:540px; height:540px; border:1px solid #ebebeb;}
.sit_pvi_big img {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.sit_ov {float:right; width:660px; padding-left:60px;}
.sit_title {margin:0; line-height:1.2; margin-top:10px;}
.sit_title p {font-size:36px; color:#000; letter-spacing:-1px;}
.sit_info {margin-top:35px;}
.sit_price {font-size:26px; font-weight:300;}
.sit_price strong {font-size:36px; font-family:"LatoWebBold"; color:#000;}
.sit_icon_q {display:inline-block; width:16px; height:16px; vertical-align:middle; background:url('../img/icon_qm.png') no-repeat; margin:-4px 0 0 5px; cursor:pointer;}
.sit_ov_bo_list_tbl_wr {margin-top:24px; padding:12px 0; border-top:1px solid #d1d1d1; border-bottom:1px solid #d1d1d1;}
.sit_ov_tbl {width:100%;}
.sit_ov_tbl tr td {position:relative; font-size:15px; color:#333; *font-weight:300; padding:3px 5px; letter-spacing:-1px; vertical-align:top;}
.sit_ov_tbl tr td.td_first {width:128px;}
.sit_ov_tbl tr td.td_dc {width:85px; color:#007bc7;}
.sit_ov_tbl tr td.td_dc_num {width:145px;}
.sit_ov_tbl tr td.td_sv_num {}
.sit_ov_tbl tr td .sit_q_wr {display:none; position:absolute; top:21px; left:64px; background:#fff; z-index:10;}
.sit_ov_tbl tr td .sit_q_wr .sit_q_box {position:relative; width:290px; height:75px; color:#333; border:1px solid #333; padding:18px 25px; font-size:13px;}
.sit_ov_tbl tr td .sit_q_wr .sit_q_box .sit_icon_close {position:absolute; top:10px; right:10px; display:inline-block; width:14px; height:14px; background:url('../img/icon_close.png') no-repeat; cursor:pointer;}
.sit_order_unit {padding:12px 0; border-bottom:1px solid #d1d1d1;}
.sit_order_unit .sit_ov_tbl tr td {vertical-align:middle;}
.sit_ov_tbl tr td.td_order_unit {font-size:17px;}
.sit_sel_option {margin-top:30px; background:#f5f7fa; padding:17px 25px 0;}
.sit_sel_option_div {position:relative; border-top:1px solid #e2e4e6; font-size:15px; color:#333; padding:17px 7px;}
.sit_sel_option_title {padding-top:0; padding-bottom:5px; border:0;}
.opt_count {}
.opt_count:after {display:block; visibility:hidden; content:""; clear:both;}
.opt_count .sit_qty_btn {position:relative; width:39px; height:40px; border:1px solid #999; background:#fff; text-align:center;}
.opt_count .sit_qty_btn img {}
.opt_count .sit_qty_minus {float:left; border-right:0; border-radius:2px 0 0 2px;}
.opt_count .num_input {float:left; width:65px; height:40px; line-height:40px; border:1px solid #999; border-left:1px solid #ccc; border-right:0; text-align:center; font-size:16px; line-height:100%; border-radius:0 !important;}
.opt_count .sit_qty_plus {float:left; border-left:1px solid #ccc; border-radius:0 2px 2px 0;}
.opt_count .sit_qty_sum {float:left; font-size:17px; color:#666; font-weight:300; padding:0 10px; margin-top:10px;}
.opt_count .sit_qty_btn_ok {float:left; background:#fff; width:70px; height:40px; text-align:center; line-height:100%; border:1px solid #c7c7c7; color:#666; font-size:15px; padding:0; letter-spacing:-1px; border-radius:2px;}
.opt_count .sit_opt_prc {position:absolute; *top:50%; *transform:translateY(-50%); top:30px; right:0; font-size:18px; font-weight:300;}
.opt_count .sit_opt_prc strong {font-family:"LatoWebBold"; font-size:20px;}
.opt_count .sit_opt_prc .sit_sel_icon_close {display:inline-block; vertical-align:middle; margin-top:-3px; width:13px; height:13px; background:url('../img/icon_sit_sel_close.png') no-repeat; margin-left:5px;}

.opt_count_ref_text {font-size:14px; color:#838383; font-weight:300; margin-top:10px; letter-spacing:-1px;}

.sit_sel_option_detail {border-top:1px dashed #e2e4e6; padding-top:15px;}
.sit_sel_option_detail:after {display:block; visibility:hidden; content:""; clear:both;}
.sit_sel_option_detail_title {float:left; padding-top:1px;}
.sit_sel_option_detail_title .icon_line_L {display:inline-block; background:url('../img/icon_line_L.png') no-repeat; width:9px; height:11px; vertical-align:top; margin:0 0 0 10px;}
.sit_sel_option_detail_title .detail_label {display:inline-block; padding:0 12px; text-align:center; font-size:12px; vertical-align:top; border-radius:3px; margin-left:5px;}
.sit_sel_option_detail_title .detail_label-blue {background:#4d95f7; color:#fff;}

.sit_sel_option_detail_cnt {float:left; color:#4d95f7; font-size:20px; font-family:"LatoWeb"; margin-left:12px;}
.sit_sel_option_detail_ul {float:left; margin-left:10px;}
.sit_sel_option_detail_ul .sit_sel_option_detail_li {line-height:20px; margin-bottom:2px; color:#666; font-size:15px;}
.sit_sel_option_detail_ul .sit_sel_option_detail_li span {display:inline-block; width:110px; float:left;}
.sit_sel_option_detail_ul .sit_sel_option_detail_li input.opt_detail_cnt {float:left; width:70px; height:20px; border:1px solid #b6b6b6; border-radius:3px; text-align:center; margin:0 8px 0 7px; font-size:15px;}

.sit_tot_price_wr {margin-top:60px;}
.sit_tot_price_wr:after {display:block; visibility:hidden; content:""; clear:both;}
.sit_tot_price {font-size:28px; font-weight:300; float:right;}
.sit_tot_price span {float:left; font-size:16px; margin-top:10px;}
.sit_tot_price strong {float:left; font-family:"LatoWebBold"; font-size:37px; margin-left:47px;}

.sit_ov_btn {margin-top:8px;}
.sit_ov_btn:after {display:block; visibility:hidden; content:""; clear:both;}
.sit_ov_btn button {font-size:23px; width:295px; height:65px; border-radius:2px; letter-spacing:-1px;}
.sit_btn_buy {float:left; background:#ff5550; color:#fff; border:0;}
.sit_btn_cart {float:left; margin-left:10px; border:1px solid #ff5550; color:#ff5550; background:#fff;}

.sit_rel {padding:35px 0 50px;}
.sit_rel_title {font-size:22px; color:#333; padding:0 5px 15px; letter-spacing:-1px;}
.item_slider_rel_wr {border-left:1px solid #e4e5e7; border-right:1px solid #e4e5e7;}
.item_slider_rel_wr .item-slide {width:240px !important; height:300px;}
.item_slider_rel_wr .item_slider-img_wr {height:203px;}
.item_slider_rel_wr .item_slider-add_cart {bottom:15px; right:15px;}
.item_slider_rel_wr .item_slider-info_wr {margin-top:0; padding:0 28px;}
.item_slider_rel_wr .item_slider-info-name1 {font-size:15px;}
.item_slider_rel_wr .item_slider-info-price {font-size:16px; margin-top:6px;}
.item_slider_rel_wr .item_slider-info-price strong {font-family:"LatoWebLight"; font-size:18px;}

.item_slider_rel_wr .bx-wrapper .bx-controls-direction a.bx-prev {width:24px; height:53px; margin-top:-21px; background:url('../img/item_1_slider_prev.png') no-repeat; left:-60px;}
.item_slider_rel_wr .bx-wrapper .bx-controls-direction a.bx-next {width:24px; height:53px; margin-top:-21px; background:url('../img/item_1_slider_next.png') no-repeat; right:-60px;}

.sit_detail_info {}
.sit_detail_tab {}
.tab_tit {line-height:44px; color:#fff; padding:0 30px; font-size:17px; background:#303030;}
.tab_con {padding:60px 20px;}
.tab_con_text {padding:20px;}
.tab_con_text h3 {color:#000; font-size:22px; font-weight:400; margin:5px 0; letter-spacing:-1px;}
.tab_con_text p {font-size:16px; color:#4e4e4e; padding:2px 0; letter-spacing:-1px;}
.tab_con_img {padding:20px 0;}


/* 베스트상품 */
.best_item {padding:60px 10px;}
.best_item_title {font-size:34px; color:#333; letter-spacing:-2px; padding:0 5px 10px; border-bottom:2px solid #4c4c4c;}
.best_item_tabs {margin-top:20px;}

.best_item_tabs_ul {}
.best_item_tabs_ul:after {display:block; visibility:hidden; content:""; clear:both;}
.best_item_tabs_ul li {position:relative; float:left; width:25%; height:44px; line-height:42px; background:#fbfbfb; border:1px solid #ced1d1; border-left:0; text-align:center; font-size:15px; color:#666; cursor:pointer;}
.best_item_tabs_ul li:first-child {border-left:1px solid #ced1d1;}
.best_item_tabs_ul li.on {border-bottom:0; background:none; color:#f92d41;}
.best_item_tabs_ul li.on:after {display:block; content:''; position:absolute; width:calc(100% + 2px); height:calc(100% + 1px); top:-1px; left:-1px; border:1px solid #f92d41; border-bottom:0;}
.best_item_tabs_ul li:first-child.on {border-bottom:1px solid #f92d41;}

.best_category_list {display:none; padding:30px 50px; border-bottom:1px solid #a9a9a9;}
.best_category_list_tbl {display:none; width:100%;}
.best_category_list_tbl tr td {position:relative; width:180px; vertical-align:top;}
.best_category_list_tbl tr td span.icon_list_style {position:absolute; top:10px; left:8px; width:2px; height:3px; background:url('../img/icon_list_style.png') no-repeat;}
.best_category_list_tbl tr td a {display:block; font-size:14px; color:#666; letter-spacing:-1px; padding:1px 0 1px 18px;}
.best_category_list_tbl tr td.on a {color:#f92d41;}
.best_category_list_tbl tr td.on .icon_list_style {background:url('../img/icon_list_style_on.png') no-repeat;}

.bset_item_list {margin-bottom:70px;}
.bset_item_list:after {display:block; visibility:hidden; content:""; clear:both;}
.bset_item_list .best_item_wr {float:left; margin:70px 0 0 21px;}
.bset_item_list .best_item_wr:first-child, .bset_item_list .best_item_wr:nth-child(4n+1) {margin-left:0;}
.best_item_div {position:relative; width:279px; border:1px solid #ededed;}
.best_item_number {padding-bottom:9px;}
.best_item_number span {display:inline-block; border-bottom:2px solid #ffd9d9; padding:0 4px; font-family:"LatoWeb"; font-size:22px; color:#dc0016; text-align:center;}
.best_item_img_wr {position:relative; height:237px;}
.best_item_img_wr a {display:block; height:237px;}
.best_item_img {position:absolute; width:100%; text-align:center; top:50%; transform:translateY(-50%);}
.best_item_info_wr {padding:0 30px 28px;}
.best_item_info_name1 {display:inline-block; width:100%; font-size:16px; color:#666; font-weight:300; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal;}
.best_item_info_name2 {font-size:16px; color:#666; font-weight:300; margin-top:-9px;}
.best_item_info_price {margin-top:12px; font-size:15px; color:#666;}
.best_item_info_price strong {font-size:21px; color:#000; font-family:"LatoWeb";}
.best_item_info_add_cart {border:0; position:absolute; width:40px; height:40px; background:url('../img/add_cart.png') no-repeat; background-position:center; bottom:20px; right:20px; border:1px solid #e5e5e5;}


/* 게시판 */
.community_wr {}
.community_wr:after {display:block; visibility:hidden; content:""; clear:both;}

.community_left {float:left; width:190px; border-top:2px solid #000; margin-top:5px;}
.community_left_title {position:relative; height:133px; border-bottom:1px solid #ccc;}
.community_left_title h3 {position:absolute; top:50%; left:0; width:100%; text-align:center; transform:translateY(-50%); font-size:25px; color:#333; font-weight:500; letter-spacing:-1px;}
.community_left_list {}
.community_left_list li {}
.community_left_list li a {display:block; height:63px; line-height:63px; border-bottom:1px solid #eee; padding:0 15px; font-size:16px;}
.community_left_list li.on a {color:#fb391e;}

.bo_wr {float:left; margin-left:40px; width:970px;}
.bo_title {font-size:32px; color:#333; letter-spacing:-1px;}
.bo_head_content {margin:24px 0 55px 0; padding:21px 34px; border:1px solid #ddd;}
.bo_head_content p {position:relative; font-size:15px; color:#666; padding-left:10px; margin:2px 0;}
.bo_head_content p span.text_red {color:#ff0000; font-weight:500;}
.bo_head_content p:after {position:absolute; top:50%; left:0; margin-top:-1px; content:''; width:2px; height:2px; background:#666;}
.bo_sch_wr {margin-top:24px;}
.bo_sch_wr:after {display:block; visibility:hidden; content:""; clear:both;}
.bo_sch {float:right;}
.bo_sch_option {float:left; width:135px; height:50px; border:1px solid #c7c7c7; padding:0 12px; font-size:15px; color:#333; appearance:none; -webkit-appearance:none; -moz-appearance:none; background:url('../img/icon_bo_sch_select.png') no-repeat; background-position:110px 20px;}
.bo_sch_option::-ms-expand {display:none;}
.bo_sch_input {float:left; width:250px; height:50px; border:1px solid #c7c7c7; border-right:0; padding:0 0 0 12px; font-size:15px; color:#333; margin-left:10px;}
.bo_sch_btn {position:relative; width:60px; height:50px; float:left; border:1px solid #c7c7c7; border-left:0; background:none;}
.bo_sch_btn span {position:absolute; top:50%; left:50%; margin:-11px 0 0 -11px; width:25px; height:25px; background:url('../img/icon_bo_sch.png') no-repeat;}

/* 게시판 목록 */
.bo_list {margin:18px 0 100px;}
.bo_list_tbl_wr {margin-bottom:30px;}
.bo_list_tbl_wr table {width:100%; border-collapse:collapse; border-spacing:0; background:#fff; border-top:1px solid #474747; border-bottom:1px solid #e7e7e7;}
.bo_list_tbl_wr table thead tr td {background:#f7f7f7; font-size:15px; color:#000; text-align:center;}
.bo_list_tbl_wr table tr td {height:62px; border-bottom:1px solid #e7e7e7; text-align:center; color:#4c4c4c;}
.bo_list_tbl_wr table tr td.td_num {width:70px;}
.bo_list_tbl_wr table tr td.td_subject {}
.bo_list_tbl_wr table tr td.td_date {width:155px;}
.bo_list_tbl_wr table tr td.td_hit {width:100px;}
.bo_list_tbl_wr table tr td.td_reply {width:100px; font-weight:500;}
.bo_list_tbl_wr table tr td.td_reply_wait {color:#ff3728;}
.bo_list_tbl_wr table tbody tr td.td_subject {text-align:left; padding-left:14px; padding-right:14px;}
.bo_list_tbl_wr table tbody tr td.td_subject a {font-size:15px; color:#4c4c4c;}

.bo_list_btn_wr {margin-top:10px;}
.bo_list_btn_wr:after {display:block; visibility:hidden; content:""; clear:both;}
.bo_list_btn_right {float:right;}
.bo_list_btn {display:inline-block; width:130px; height:44px; line-height:44px; border-radius:2px; font-size:15px; text-align:center; margin-right:2px;}
.bo_list_btn_right .bo_list_btn:last-child {margin-right:0;}
.bo_list_btn_red {background:#ff5550; color:#fff;}

/* 게시판 읽기 */
.bo_view {border-top:1px solid #494c51; margin:92px 0 100px;}
.bo_v_subject {font-size:17px; color:#000; padding:21px 20px; border-bottom:1px solid #d7d7d7;}
.bo_v_info {padding:19px 0; border-bottom:1px solid #d7d7d7;}
.bo_v_info:after {display:block; visibility:hidden; content:""; clear:both;}
.bo_v_info span {float:left; display:inline-block; font-size:16px; color:#4c4c4c; margin-left:20px;}
.bo_v_info span.bo_v_date, .bo_v_info span.bo_v_hit {font-weight:300;}
.bo_v_info_right {float:right; margin-right:137px;}

.bo_v_content_wr {border-bottom:1px solid #d7d7d7;}
.bo_v_content {padding:54px 30px;}
.bo_v_content p {font-size:16px; color:#666; margin-bottom:1px; font-weight:300;}
.bo_v_reply {background:#f7f8fa; padding:28px 0 28px 60px;}
.bo_v_reply_top {font-size:18px; padding:0 44px 15px 7px; color:#000; border-bottom:1px solid #eaeced; font-weight:300; letter-spacing:-1px;}
.bo_v_reply_top:after {display:block; visibility:hidden; content:""; clear:both;}
.bo_v_reply_subject {float:left; width:88%; font-size:18px;}
.bo_v_reply_date {float:right; width:12%; text-align:right; font-size:17px;}
.bo_v_reply_content_wr {margin-top:20px;}
.bo_v_reply_content_wr table {width:100%;}
.bo_v_reply_content_wr table tr td {vertical-align:top;}
.bo_v_reply_content_wr table tr td.td_line {width:15px; padding-top:4px; text-align:center;}
.bo_v_reply_content_wr table tr td.td_label {width:54px; padding:2px 0 0 2px;}
.bo_v_reply_content_wr .icon_line_L {display:inline-block; background:url('../img/icon_bo_v_reply_line.png') no-repeat; width:8px; height:8px; vertical-align:top;}
.bo_v_reply_content_wr .reply_label {display:inline-block; padding:2px 8px; vertical-align:top; background:#96a8be; color:#fff; border-radius:3px; font-size:12px;}
.bo_v_reply_content {padding-right:44px;}
.bo_v_reply_content p {font-size:16px; color:#4c4c4c; font-weight:300;}

.bo_v_btn_wr {margin-top:20px;}
.bo_v_btn_wr:after {display:block; visibility:hidden; content:""; clear:both;}
.bo_v_btn_left {float:left;}
.bo_v_btn_right {float:right;}
.bo_v_btn {float:left; display:inline-block; width:95px; height:40px; line-height:40px; font-size:15px; text-align:center; margin-right:5px; border-radius:2px;}
.bo_v_btn_right .bo_v_btn:last-child {margin-right:0;}
.bo_v_btn_black {background:#818181; color:#fff;}
.bo_v_btn_red {background:#ff5550; color:#fff;}

.bo_v_nb {margin-top:90px; border-top:1px solid #d7d7d7;}
.bo_v_nb_div {padding:12px 0; font-size:0; border-bottom:1px solid #d7d7d7;}
.bo_v_nb_div .bo_v_nb_tit {display:inline-block; vertical-align:middle; font-size:15px; color:#666; font-weight:500; margin:0 54px 0 13px;}
.bo_v_nb_div a {display:inline-block; vertical-align:middle; font-size:16px; color:#666; font-weight:300; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; width:740px; overflow:hidden;}
.bo_v_nb_icon {display:inline-block; width:13px; height:8px; vertical-align:middle; margin-left:34px;}
.bo_v_nb_icon_prev {background:url('../img/icon_bo_v_nb_prev.png') no-repeat;}
.bo_v_nb_icon_next {display:inline-block; width:13px; height:8px; background:url('../img/icon_bo_v_nb_next.png') no-repeat; vertical-align:middle;}

/* 게시판 쓰기 */
.bo_w_wr {margin:46px 0 100px 0; border-top:1px solid #494c51;}
.bo_w_tbl {width:100%;}
.bo_w_tbl tr th {background:#f7f7f7; font-size:14px; font-weight:300; width:170px; padding:21px 0; border-bottom:1px solid #d7d7d7;}
.bo_w_tbl tr td {font-size:16px; font-weight:300; padding:11px 50px 11px 36px; border-bottom:1px solid #d7d7d7;}
.bo_w_tbl tr td .bo_w_input {width:100%; height:40px; border:1px solid #d7d7d7;}
.bo_w_tbl tr td .bo_w_textarea {width:100%; height:300px; border:1px solid #d7d7d7;}
.bo_w_btn_wr {margin-top:30px; font-size:0; text-align:center;}
.bo_w_btn {display:inline-block; width:130px; height:44px; line-height:44px; border-radius:2px; font-size:15px; text-align:center; margin:0 3px;}
.bo_w_btn_black {background:#818181; color:#fff;}
.bo_w_btn_red {background:#ff5550; color:#fff;}


/* 페이징 */
.pg_wr {margin:30px 0 10px 0; text-align:center; font-size:0;}
.pg_wr .pg_start,
.pg_wr .pg_prev,
.pg_wr .pg_next,
.pg_wr .pg_end {border:1px solid #e1e1e1; margin:0 4px;}
.pg_wr .pg_start {background:url('../img/icon_pg_start.png') no-repeat center;}
.pg_wr .pg_prev {margin-right:15px; background:url('../img/icon_pg_prev.png') no-repeat center;}
.pg_wr .pg_next {margin-left:15px; background:url('../img/icon_pg_next.png') no-repeat center;}
.pg_wr .pg_end {background:url('../img/icon_pg_end.png') no-repeat center;}
.pg_wr .pg_page {display:inline-block; width:35px; height:35px; line-height:34px; padding:0 8px; font-size:17px; color:#4c4c4c; vertical-align:middle;}


/* 하단 */
.ft_wr {background:#292929; padding:36px 0;}
.ft {margin:0 auto; padding:0 20px;}
.ft_company {}
.ft_company p {color:#888c8d; font-size:13px; line-height:20px;}
.ft_copy {color:#888c8d; font-size:13px; margin-top:12px;}