@charset "UTF-8"; 
/***************
  로그인
****************/

.login hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

.login input { vertical-align: middle; outline: none; font-size: 0.87rem; color: #393939; font-weight: 400; vertical-align: middle; -webkit-appearance: none; -moz-appearance: none; font-size: 13px; line-height: 1.5; font-family: "Noto Sans KR","AppleGothic", sans-serif,"맑은고딕","malgun gothic", Dotum, 돋움, "Apple SD Gothic Neo", arial; color: #393939; letter-spacing: -1px; }

.login select { vertical-align: middle; outline: none; font-size: 0.87rem; color: #393939; font-weight: 400; vertical-align: middle; border: 1px solid #c1c1c1; height: 23px; color: #585858; font-size: 13px; padding-left: 10px; font-size: 13px; line-height: 1.5; font-family: "Noto Sans KR","AppleGothic", sans-serif,"맑은고딕","malgun gothic", Dotum, 돋움, "Apple SD Gothic Neo", arial; color: #393939; letter-spacing: -1px; }

.login textarea { font-size: 0.87rem; color: #393939; font-weight: 400; padding: 5px; border: 1px solid #c1c1c1; overflow-y: auto; outline: none; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; resize: none; webkit-appearance: none; -moz-appearance: none; -webkit-appearance: none; appearance: none; font-size: 13px; line-height: 1.5; font-family: "Noto Sans KR","AppleGothic", sans-serif,"맑은고딕","malgun gothic", Dotum, 돋움, "Apple SD Gothic Neo", arial; color: #393939; letter-spacing: -1px; }

.login button { border: 0 none; background: transparent; outline: 0; font-size: 13px; color: #393939; font-weight: bold; outline: none; font-size: 13px; line-height: 1.5; font-family: "Noto Sans KR","AppleGothic", sans-serif,"맑은고딕","malgun gothic", Dotum, 돋움, "Apple SD Gothic Neo", arial; color: #393939; letter-spacing: -1px; cursor: pointer; }

.login input[type="button"] { line-height: 999px; text-indent: -9999px; cursor: pointer; }

.login input[type="checkbox"] { margin-right: 4px; }

.login input[type="radio"] { margin-right: 2px; vertical-align: middle; }

.login input[readonly="readonly"].validatebox-readonly { background: #ffffff; }

.login input[type="text"] { border: 1px solid #cbcbcb; }

.login input[type="number"] { border: 1px solid #cbcbcb; }

.login input[type="password"] { border: 1px solid #cbcbcb; }

.login input[type="email"] { border: 1px solid #cbcbcb; }

.login input[type=checkbox] { display: none; }

.login input[type=checkbox] + label { display: inline-block; margin-right: 15px; position: relative; color: #444; -webkit-transition: all 0.7s ease; transition: all 0.7s ease; font-size: 14px; font-weight: 300; color: #000000; }

.login input[type=checkbox] + label:before { content: ""; display: inline-block; width: 16px; height: 16px; background: #fff url(../../images/login/icon_check.png) no-repeat 0 0; background-size: 16px auto; vertical-align: middle; margin-right: 5px; position: relative; top: -1px; }

.login input[type=checkbox]:checked + label:before { background-position-y: -16px; }

.login input[type=checkbox]:disabled + label { opacity: 0.8; color: #111111; }

.login input[type=checkbox]:disabled + label:before { opacity: 0.8; }

.login input[type=checkbox]:checked:disabled + label { opacity: 0.8; color: #111111; }

.login input[type=checkbox]:checked:disabled + label:before { opacity: 0.8; border: 1px solid #D3D3D3; }

.login label.radio { position: relative; font-size: 16px; color: #333333; font-weight: 400; }

.login input[type=radio] { -webkit-transform: translateY(-2px); -ms-transform: translateY(-2px); transform: translateY(-2px); background-color: #FFFF; -webkit-appearance: none; -moz-appearance: none; margin-left: 16px; border: 1px solid #979797; width: 22px; height: 22px; border-radius: 100%; position: relative; }

.login input[type=radio]:checked { background-color: #FFFF; -webkit-appearance: none; -moz-appearance: none; margin-left: 16px; width: 22px; height: 22px; border-radius: 100%; }

.login input[type=radio]:checked::after { content: ''; width: 14px; height: 14px; background-color: #ff5550; position: absolute; left: 3px; top: 3px; z-index: 2; border-radius: 50%; }

/* 공통 속성 */
::-webkit-input-placeholder { color: #BFBFBF; }

:-ms-input-placeholder { color: #BFBFBF; }

::-ms-input-placeholder { color: #BFBFBF; }

::placeholder { color: #BFBFBF; }

:-ms-input-placeholder { color: #BFBFBF; }

::-ms-input-placeholder { color: #BFBFBF; }

.login select { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

.pt0 { padding-top: 0 !important; }

.mtb10 { margin-top: 10px; margin-bottom: 10px; }

.content-wrap { width: 1000px; margin: 0 auto; }





.login { padding-top: 85px; }

.login .login-top .log-info { display: inline-block; -webkit-transform: translateY(5px); -ms-transform: translateY(5px); transform: translateY(5px); margin-left: 2px; }

.login .login-content { border: 1px solid #cccccc; }

.login .login-content__left { float: left; width: 50%; }

.login .login-content__right { float: left; width: 50%; }

.login .login-content__right .login-box { padding: 0 45px; }

.login .login-content__right .login-title { font-size: 24px; color: #333333; font-weight: 600; margin-top: 56px; margin-bottom: 12px; }

.login .login-content__right .login-inputs__input { float: left; width: 296px; }

.login .login-content__right .login-inputs__input input { width: 100%; height: 44px; padding: 0 15px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.login .login-content__right .login-inputs__input input.input-id { margin-bottom: 5px; }

.login .login-content__right .login-inputs__btn { text-align: right; }

.login .login-content__right .login-inputs__btn .btn-login { width: 106px; height: 94px; background: #ff5550; border-radius: 3px; font-size: 15px; font-weight: 600; color: #ffffff; cursor: pointer; }

.login .login-content__right .check { font-size: 14px; color: #565656; padding: 6px 0 10px 3px; }

.login .login-content__right .check label { font-weight: 300; }

.login .login-content__right .login-joins::after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }

.login .login-content__right .login-joins div[class^=login-joins__] { float: left; width: 50%; -webkit-box-sizing: border-box; box-sizing: border-box; }

.login .login-content__right .login-joins__left { padding-right: 2px; }

.login .login-content__right .login-joins__right { padding-left: 2px; }

.login .login-content__right .login-joins a[class^=btn-] { display: block; text-align: center; width: 100%; height: 34px; line-height: 34px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #cccccc; background: #f2f1f1; background: -webkit-gradient(linear, left bottom, left top, from(#f2f1f1), to(white)); background: linear-gradient(0deg, #f2f1f1 0%, white 100%); font-size: 13px; color: #7e7e7e; font-weight: 400; }

.login .login-content__right .util { padding: 40px 0 50px 0; }

.login .login-content__right .util::after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }

.login .login-content__right .util li { float: left; width: 33.333333%; }

.login .login-content__right .util li:last-child .txt { border: none !important; }

.login .login-content__right .util .btn-util { text-align: center; cursor: pointer; }

.login .login-content__right .util .btn-util .icon { display: inline-block; width: 94px; height: 94px; border-radius: 50%; }

.login .login-content__right .util .btn-util .txt { display: block; font-size: 14px; color: #808080; line-height: 30px; border-right: 1px solid #e4e4e4; margin: 10px 0; }

.login .login-content__right .util .btn-util.favor .icon { background: #eff2ff url(../../images/login/icon_favor.png) no-repeat 50% 50%; }

.login .login-content__right .util .btn-util.direct .icon { background: #eff2ff url(../../images/login/icon_direct.png) no-repeat 50% 50%; }

.login .login-content__right .util .btn-util.start .icon { background: #eff2ff url(../../images/login/icon_start.png) no-repeat 50% 50%; }

.login .login-content__right .contact { background-color: #f4f5fa; height: 120px; }

.login .login-content__right .contact-tel { float: right; padding: 40px 40px 0 70px; background: url(../../images/login/icon_tel.png) no-repeat 0 45px; }

.login .login-content__right .contact-tel__num { background: url(../../images/login/img_tel.png) no-repeat 0 50%; height: 24px; }

.login .login-content__right .contact-tel__info { font-size: 13px; color: #8d8ca2; padding-top: 5px; }

.login .login-content::after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }

footer .copyright { text-align: right; color: #999999; font-size: 13px; padding-top: 15px; }

/***************
  회원가입
****************/
.join .btns { text-align: center; padding: 50px 0 110px 0; }

.join .btns a[class^=btn-] { display: inline-block; width: 210px; height: 60px; line-height: 60px; font-weight: 500; font-size: 17px; color: #fff; border-radius: 4px; }

.join .btns a[class^=btn-].prev { background-color: #888888; margin-right: 10px; }

.join .btns a[class^=btn-].next { background-color: #ff5550; }

.join .btns .btn-confirm { background-color: #ff5550; }

.join-top { padding-top: 20px; padding-bottom: 5px; }

.join-step::after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }

.join-step li { float: left; background-color: #f1f1f1; height: 70px; line-height: 70px; color: #333333; font-size: 17px; width: 33.33333%; text-align: center; position: relative; }

.join-step li::after { content: ''; width: 33px; height: 70px; background: url(../../images/login/icon_step.png) no-repeat 0 0; position: absolute; right: 0; top: 0; }

.join-step li strong { color: #333333; font-weight: 400; vertical-align: middle; margin-right: 4px; }

.join-step li.step2 strong { margin-left: -15px; }

.join-step li:last-child::after { display: none; }

.join-step li.on { background-color: #5c52d0; color: #fff; font-weight: 500; }

.join-step li.on strong { color: #fff; font-weight: 500; }

.join-step li.on::after { background-position: 0 -70px; }

.join-step li.off::after { background-position: 0 -140px; }

.join-content { /* 01. 약관동의 */ /* 02. 정보입력 */ /* 03. 가입완료 */ }

.join-content .title { font-size: 31px; font-weight: 600; color: #333333; margin-top: 55px; }

.join-content .title-s { font-size: 22px; font-weight: 500; color: #333333; margin-top: 55px; border-bottom: 2px solid #666666; padding-bottom: 10px; }

.join-content .terms-radio { text-align: right; padding: 20px 0; }

.join-content .textarea { padding: 30px; height: 270px; overflow: auto; border: #ddd 1px solid; font-size: 15px; color: #4f4f4f; height: 270px; }

.join-content .textarea strong { display: block; font-size: 16px; font-weight: 400; color: #333333; padding-top: 22px; padding-bottom: 8px; }

.join-content .agree-all { padding-top: 40px; }

.join-content .agree-all input[type="checkbox"] + label:before { content: ""; width: 27px; height: 27px; background: #fff url(../../images/login/icon_checkAll.png) no-repeat 0 0; }

.join-content .agree-all input[type="checkbox"]:checked + label:before { background-position-y: -27px; }

.join-content .agree-all label { font-size: 20px; }

.join-content .join-info { border: 1px solid #e1e3e6; padding: 20px 40px; margin-top: 10px; }

.join-content .join-info strong { display: inline-block; font-weight: 400; color: #fc341c; vertical-align: middle; -webkit-transform: translateY(-2px); -ms-transform: translateY(-2px); transform: translateY(-2px); }

.join-content .join-info table { border-top: 2px solid gray; }

.join-content .input-info { padding-top: 40px; text-align: right; }

.join-content .input-info__txt { font-size: 15px; color: #333333; }

.join-content .input-info__txt::before { content: '*'; color: #f01b1b; font-weight: 600; font-size: 23px; vertical-align: middle; display: inline-block; padding-top: 7px; padding-right: 5px; }

.join-content .input-table { border-top: 2px solid #999999; }

.join-content .input-table table { width: 100%; }

.join-content .input-table th, .join-content .input-table td { border-bottom: 1px solid #dadada; padding: 10px; }

.join-content .input-table th { font-size: 15px; font-weight: 500; text-align: left; padding-left: 43px; }

.join-content .input-table th::before { content: '*'; color: #f01b1b; font-weight: 600; font-size: 23px; vertical-align: middle; display: inline-block; padding-top: 7px; padding-right: 5px; }

.join-content .input-table td input[type=text] { height: 40px; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 10px; }

.join-content .input-table td input[type=text]:hover, .join-content .input-table td input[type=text]:focus { border: 1px solid #ff5550; }

.join-content .input-table td .divide-line { margin: 0 9px; }

.join-content .input-table td .divide-line::after { content: ''; display: inline-block; width: 7px; height: 1px; background-color: #949494; -webkit-transform: translateY(-3px); -ms-transform: translateY(-3px); transform: translateY(-3px); }

.join-content .input-table a[class^=btn-] { display: inline-block; width: 120px; height: 40px; line-height: 37px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #777576; vertical-align: middle; font-size: 15px; color: #525252; font-weight: 400; text-align: center; margin-left: 8px; }

.join-content .input-table select { height: 40px; width: 190px; background: url(../../images/login/icon_selectArrow.png) no-repeat 95% 50%; }

.join-content .input-table .email-divide { font-weight: 400; font-size: 15px; margin: 0 5px; }

.join-content .join-complte { margin-top: 45px; border: 1px solid #e1e3e6; padding: 84px 0 84px 338px; font-size: 16px; font-weight: 300; background: url(../../images/login/icon_complete.png) no-repeat 140px 50%; }

.join-content .join-complte strong { display: inline-block; font-weight: 500; -webkit-transform: translateY(-4px); -ms-transform: translateY(-4px); transform: translateY(-4px); }

.join-content .join-complte strong.red { font-weight: 400; color: #fc341c; }

/* 주소창 */
.window-address { position: fixed; display: none; left: 0; top: 0; width: 100%; height: 100%; z-index: 3; }

.window-address::before { content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); -webkit-animation: opcity-ani 0.6s forwards ease; animation: opcity-ani 0.6s forwards ease; }

.window-address .address-box { width: 520px; height: 744px; background: #fff; position: absolute; left: 50%; top: 50%; z-index: 3; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); -webkit-animation: addressWindow-ani 0.6s forwards ease; animation: addressWindow-ani 0.6s forwards ease; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 30px; max-height: 95%; margin-left: -260px; margin-top: -372px; }

.window-address .address-box__top { font-size: 25px; font-weight: 400; border-bottom: 2px solid #333333; padding-top: 15px; padding-bottom: 10px; position: relative; }

.window-address .address-box__top .btn-close { text-indent: -5000px; overflow: hidden; font-size: 0; display: inline-block; width: 40px; height: 40px; background: url(../../images/login/icon_close.png) no-repeat 50% 50%; position: absolute; right: -5px; bottom: 5px; cursor: pointer; }

.window-address .address-box__search { position: relative; margin: 30px 0 15px 0; }

.window-address .address-box__search .input-search { width: 100%; height: 45px; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 10px; font-size: 14px; font-weight: 400; border: 1px solid #000; }

.window-address .address-box__search .input-search:hover, .window-address .address-box__search .input-search:focus { border: 1px solid #ff5550; }

.window-address .address-box__search .btn-search { display: inline-block; width: 45px; height: 45px; background: url(../../images/login/icon_search.png) no-repeat 50% 50%; position: absolute; right: 0; top: 0; text-indent: -5000px; overflow: hidden; font-size: 0; }

.window-address .address-box__info { padding: 20px 25px; background-color: #f9f9f9; border: 1px solid #eeeeee; }

.window-address .address-box__info .infto-title { font-size: 14px; color: #000000; margin-bottom: 10px; }

.window-address .address-box__info li { line-height: 15px; font-size: 13px; }

.window-address .address-box__info li .title { color: #7f7f7f; display: inline-block; vertical-align: middle; width: 110px; margin-left: 5px; }

.window-address .address-box__info li .info { color: #010101; display: inline-block; vertical-align: middle; }

.window-address .address-box__info li .info::before { content: ':'; margin-right: 10px; -webkit-transform: translateY(-3px); -ms-transform: translateY(-3px); transform: translateY(-3px); display: inline-block; vertical-align: middle; }

.window-address .address-box .search-result { font-size: 14px; }

.window-address .address-box .search-result__info { border-bottom: 1px solid #e7e7e7; padding: 25px 0 10px 0; }

.window-address .address-box .search-result__info strong { font-weight: 400; color: #ff3333; margin-right: 5px; }

.window-address .address-box .search-result__list { height: 266px; overflow-x: hidden; overflow-y: auto; }

.window-address .address-box .search-result__list li { border-bottom: 1px solid #e7e7e7; color: #333333; position: relative; padding: 10px 5px; }

.window-address .address-box .search-result__list li .icon { display: inline-block; vertical-align: middle; font-size: 12px; width: 49px; height: 19px; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; line-height: 17px; margin-right: 8px; }

.window-address .address-box .search-result__list li .road-name .icon { color: #007cdc; border: 1px solid #9acdff; }

.window-address .address-box .search-result__list li .lot-number .icon { color: #666666; border: 1px solid #cccccc; }

.window-address .address-box .search-result__list li .zip-code { position: absolute; right: 15px; top: 24px; }

.window-address .address-box .search-result__paging { text-align: center; padding-top: 15px; }

.window-address .address-box .search-result__paging::after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }

.window-address .address-box .search-result__paging ul { display: inline-block; vertical-align: middle; }

.window-address .address-box .search-result__paging ul li { float: left; }

.window-address .address-box .search-result__paging a[class^=btn-] { display: inline-block; width: 30px; height: 30px; line-height: 28px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #e9e9e9; text-align: center; vertical-align: middle; margin-right: 2px; }

.window-address .address-box .search-result__paging a[class^=btn-]:hover { border: 1px solid #ff5550; color: #ff5550; }

.window-address .address-box .search-result__paging .btn-start, .window-address .address-box .search-result__paging .btn-end, .window-address .address-box .search-result__paging .btn-prev, .window-address .address-box .search-result__paging .btn-next { position: relative; text-indent: -5000px; overflow: hidden; font-size: 0; }

.window-address .address-box .search-result__paging .btn-start::after, .window-address .address-box .search-result__paging .btn-end::after, .window-address .address-box .search-result__paging .btn-prev::after, .window-address .address-box .search-result__paging .btn-next::after { content: ''; display: inline-block; position: absolute; left: 50%; top: 50%; }

.window-address .address-box .search-result__paging .btn-start:hover::after, .window-address .address-box .search-result__paging .btn-end:hover::after, .window-address .address-box .search-result__paging .btn-prev:hover::after, .window-address .address-box .search-result__paging .btn-next:hover::after { background-position-y: -10px; }

.window-address .address-box .search-result__paging .btn-start::after, .window-address .address-box .search-result__paging .btn-end::after { width: 10px; height: 10px; margin-left: -5px; margin-top: -5px; }

.window-address .address-box .search-result__paging .btn-prev::after, .window-address .address-box .search-result__paging .btn-next::after { width: 6px; height: 10px; margin-left: -3px; margin-top: -5px; }

.window-address .address-box .search-result__paging .btn-start::after { background: url(../../images/login/icon_pg_start.png) no-repeat 0 0; }

.window-address .address-box .search-result__paging .btn-end::after { background: url(../../images/login/icon_pg_end.png) no-repeat 0 0; }

.window-address .address-box .search-result__paging .btn-prev::after { background: url(../../images/login/icon_pg_prev.png) no-repeat 0 0; }

.window-address .address-box .search-result__paging .btn-next::after { background: url(../../images/login/icon_pg_next.png) no-repeat 0 0; }

.window-address .address-box .search-result__paging .btn-page.on { border: 1px solid #ff5550; background-color: #ff5550; color: #fff !important; }

.window-address .address-box .btns { text-align: center; margin-top: 25px; }

.window-address .address-box .btns .btn-close { display: inline-block; width: 137px; height: 44px; line-height: 42px; background-color: #ff5550; border-radius: 3px; color: #fff; font-weight: 500; }

@-webkit-keyframes opcity-ani { 0% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes opcity-ani { 0% { opacity: 0; }
  100% { opacity: 1; } }

@-webkit-keyframes addressWindow-ani { 0% { opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  100% { opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes addressWindow-ani { 0% { opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  100% { opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }


