



.join-content .input-table td input[type=text] { height: 40px; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 10px; }
.join-content .input-table td input[type=text]:hover, .join-content .input-table td input[type=text]:focus { border: 1px solid #ff5550; }
.join-content .input-table a[class^=btn-] { display: inline-block; width: 120px; height: 40px; line-height: 37px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #777576; vertical-align: middle; font-size: 15px; color: #525252; font-weight: 400; text-align: center; margin-left: 8px; }
.join-content .input-table select { height: 40px; width: 190px; background: url(../../images/login/icon_selectArrow.png) no-repeat 95% 50%; }





