

select { vertical-align: middle; outline: none; font-size: 0.87rem; color: #393939; font-weight: 400; vertical-align: middle; border: 1px solid #c1c1c1; height: 23px; color: #585858; font-size: 13px; padding-left: 10px; font-size: 13px; line-height: 1.5; font-family: "Noto Sans KR","AppleGothic", sans-serif,"맑은고딕","malgun gothic", Dotum, 돋움, "Apple SD Gothic Neo", arial; color: #393939; letter-spacing: -1px; }

input[type=radio]:checked { background-color: #FFFF; -webkit-appearance: none; -moz-appearance: none; margin-left: 16px; width: 22px; height: 22px; border-radius: 100%; }

input[type=radio]:checked::after { content: ''; width: 14px; height: 14px; background-color: #ff5550; position: absolute; left: 3px; top: 3px; z-index: 2; border-radius: 50%; }

select { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

