.con3 .thead {
    min-height: 60px;
    border-top: 1px solid #444;
    background-color: #f7f7f7;
}

con3 .tbody {
    min-height: 140px;
}

.con3 .tr {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    text-align: center;

}


/*========================== [테이블 :  품목/수량/판매가격/주문금액/EA/할증수량/삭제 ] 너비설정 ==========================*/

.con3 .tr>div:nth-child(1) {
    width: 50px;
}

.con3 .tr>div:nth-child(2) {
    width: 470px;
}

.con3 .tr>div:nth-child(3) {
    width: 160px;
}

.con3 .tr>div:nth-child(4) {
    width: 130px;
}

.con3 .tr>div:nth-child(5) {
    width: 130px;
}

.con3 .tr>div:nth-child(6) {
    width: 90px;
}
 
.con3 .tr>div:nth-child(7) {
    width: 90px;
}

.con3 .tr>div:nth-child(8) {
    width: 60px;
}

.con3 .th {
    font-size: 15px;
    font-weight: 500;
}

.con3 .td {
    font-size: 16px;
}

.con3 .fz18 {
    font-size: 18px;
}

.con3 .fz18 span {
    font-size: 15px;
}

.con3 .fz25 span {
    font-size: 18px;
    font-weight: 400;
    color: #333;
}


.con3 .checkbox {
    font-size: 15px;
    font-weight: 500;
}

.con3 .checkbox2 {
    font-size: 15px;
    font-weight: 500;
    border:0px solid red;
    padding-top:6px;
}
/*========================== 멘트 : ※ 모든 제품의 배송비는 무료입니다.  ==========================*/

.con3 .top_dec {
    margin-bottom: 7px;
    padding:15px 0 0 5px;
    font-size:15px;    
    color: #666;  
    letter-spacing: -0.5px;
}

.con3 .top_dec .red {
    color: #f52739;
}



/*========================== Lato체 : 판매가격/주문금액  ==========================*/

.con3 .price_01 {
	font-family:"LatoWeb";
	letter-spacing:-0.5px;
}

.con3 .price_02 {
	font-family:"LatoWeb";
	letter-spacing:-0.5px;
    font-size: 19px;
}

.con3 .bold {
    font-weight: 600;
    display: inline-block;
}

/*========================== 이미지  ==========================*/

.con3 .imgWrap {
    padding: 5px 35px 5px 5px;
    display: flex;
    text-align: left;   
}

.con3 .imgWrap img {
    border: 1px solid #ededed;  
    min-width:116px; 
    height:99px;    
}

.con3 .imgWrap .tx1 {
    font-size: 15px;    
    padding-top:6px;
    color:#171717;

}

.con3 .right {
    width: 100%;
    margin-left: 15px;        
}

.con3 .numUpDown {
    height: 39px;
    display: flex;
    align-items: top;
	flex-wrap: wrap; 
    margin-top:-30px;
    font-family: "LatoWeb";
}

.con3 .numUpDown .up,
.con3 .numUpDown .down {
    border: 1px solid #bbb;
    cursor: pointer;
    border-radius: 2px; 
}

.con3 .numUpDown input {
    width: 64px;
    height: 39px;
    text-align: center;
    border: none;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}


.con3 .addInfo .label {
    height: 20px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    color: #fff;
    border-radius: 4px;
    font-size: 12px;

}

/*========================== [총주문금액] ==========================*/

.con4 {
    height: 150px;
    margin-top: 70px;
    background-color: #f7f7f7;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    text-align: center;
    vertical-align: middle;
    font-size: 21px;
    line-height: 150px;
}

.con4 .bold {
    font-weight: 700;
}

.con4 .total_price {
	font-family:"LatoWeb";
	letter-spacing:-0.5px;
}

.con4 .red {
    margin-left: 10px;
    font-size: 32px;
    font-weight: bold;
    color: #ff3333;
    font-family: "LatoWeb";
}


/*========================== [ 버튼 ] 전체선택.선택상품삭제 ==========================*/

.middle_btnWrap {
    margin-top: 15px;
    margin-bottom: px;
    display: flex;
    justify-content: lef;
    width: 500px;
    border:0px solid red;
    height:px;
}

.middle_btnWrap a {
    width:120px;
    height: 40px;
    margin: 0 0px;
    border-radius: 2px;
    text-align: center;
    line-height: 70px;
    font-size: 14px;
    font-weight: 400;
    color: #424242;
    border: 1px solid #ccc;
    text-align: center;
    padding: 0 0px;
    margin-left: 5px;
    line-height: 40px; 

}


/*========================== [ 버튼 ] 쇼핑계속하기. 주문하기 ==========================*/

.bottom_btnWrap {
    margin-top: 40px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
}

.bottom_btnWrap a {
    width: 270px;
    height: 70px;
    margin: 0 5px;
    border-radius: 2px;
    text-align: center;
    line-height: 70px;
    font-size: 19px;
    font-weight: 700;
    color: #ff0700;
    border: 1px solid #ff5550;
}

.bottom_btnWrap a.red {
    background-color: #ff5550;
    color: #fff;
}

.ml0 {
    margin-left: 0 !important;
}



/*========================== [ 버튼 ] 변경 ==========================*/

.change { 
    margin-top:4px;
}
.change a { 
    display: block; 
    width:142px; 
    height: 35px; 
    border: 1px solid #cccccc; 
    border-radius:2px; 
    text-align: center;
    line-height: 32px; 
    font-size:13px;  
    color: #000; 
}



/*========================== [ 툴팁 ] ==========================*/
.tip-box { 
    padding:-20px 0 0 0; 
    text-align: center; 
    position: relative; 
}
.tip-box > img { 
    cursor: pointer; 
}
.tip-box .over { 
    display: none; 
    position: absolute; 
    left: 50%; 
    top:20px; 
    width:400px; 
    padding:50px 20px 20px; 
    background: #fff; 
    border: 1px solid #000; 
    margin-left: -200px;  z-index:10; 
}
.tip-box .over .close { 
    position: absolute; 
    right:20px; top:20px;}
.tip-box .over .txt { 
    text-align: center; 
    font-size:15px; 
    line-height: 20px; 
    color: #000; 
    margin-bottom: 22px;  
}
.tip-box .over .btn-ok { 
    display: inline-block; 
    vertical-align: middle; 
    padding:0 30px; 
    height: 34px; 
    line-height: 34px; 
    border-radius:2px; 
    background: #333333; 
    font-size:14px; 
    color: #fff; 
}
.tip-box.active .over { 
    display: block; 
}





/*========================== 홍보물 ==========================*/


.sit_sel_option_detail {
    border-top:1px dashed #e2e4e6; 
    padding-top:11px; 
    margin-top:14px;
}
.sit_sel_option_detail:after {
    display:block; 
    visibility:hidden; 
    content:""; 
    clear:both;
}
.sit_sel_option_detail_title {
    float:left; 
    padding-top:1px;
}
.sit_sel_option_detail_title .icon_line_L {
    display:inline-block; 
    background:url('../../images/order/icon_line_L.png') no-repeat; 
    width:9px; 
    height:11px; 
    vertical-align:top; 
    margin:0 0 0 8px;
}

.sit_sel_option_detail_title .detail_label {
    display:inline-block; 
    padding:0 0px; 
    text-align:center; 
    font-size:12px; 
    vertical-align:top; 
    border-radius:3px; 
    margin-left:2px;
}

.sit_sel_option_detail_title .detail_label-blue {
    background:#4d95f7; 
    color:#fff;
    font-size:12px;
    width:62px;
}

.sit_sel_option_detail_title .detail_label-pink {
    background:#f74d81; 
    color:#fff;
    font-size:12px;
    width:62px;
}

.sit_sel_option_detail_cnt {
    float:left; 
    color:#4d95f7; 
    font-size:20px; 
    font-family:"LatoWeb"; 
    margin-left:12px;
}

.sit_sel_option_detail_ul {
    float:left; 
    margin-left:10px;
}
.sit_sel_option_detail_ul .sit_sel_option_detail_li {
    line-height:20px; 
    margin-bottom:2px; 
    color:#666; 
    font-size:14.5px; 
    font-weight:400;
}
.sit_sel_option_detail_ul .sit_sel_option_detail_li span {
    display:inline-block; 
    width:110px; float:left;
    color:#666;
    font-size:14.5px;
    font-weight:400;
}
.sit_sel_option_detail_ul .sit_sel_option_detail_li input.opt_detail_cnt {
    float:left; width:70px; 
    height:20px; 
    border:1px solid #b6b6b6; 
    border-radius:3px; 
    text-align:center; 
    margin:0 5px 0 15px; 
    font-size:15px;
}


.sit_sel_option_div {
    position:relative; 
    font-size:15px; 
    color:#333; 
    padding:11px 0px;
}
.sit_sel_option_title {
    padding-top:0; 
    padding-bottom:5px; 
    border:0;
}


/*========================== 수량 카운트 ==========================*/



.opt_count {
    
}
.opt_count:after {
    display:block; 
    visibility:hidden; 
    content:""; 
    clear:both;
}
.opt_count .sit_qty_btn {
    position:relative; 
    width:39px; 
    height:40px; 
    border:1px solid #999; 
    background:#fff; 
    text-align:center;
}
.opt_count .sit_qty_btn img {}
.opt_count .sit_qty_minus {
    float:left; 
    border-right:0; 
    border-radius:2px 0 0 2px;
}
.opt_count .num_input {
    float:left; 
    width:65px; 
    height:40px; 
    line-height:40px; 
    border:1px solid #999; 
    border-left:1px solid #ccc; 
    border-right:0; text-align:center; 
    font-size:16px; line-height:100%; 
    border-radius:0 !important;
}
.opt_count .sit_qty_plus {
    float:left; 
    border-left:1px solid #ccc; 
    border-radius:0 2px 2px 0;
}



/*========================== 체크박스 ==========================*/

        /* checkbox */
        input[type=checkbox] { 
            display: none; 
        }

        input[type=checkbox] + label { 
            display: inline-block; 
            margin-right: 15px; 
            position: relative; 
            color: #444; -webkit-transition: all 0.7s ease; 
            transition: all 0.7s ease; 
            font-size: 14px; 
            font-weight: 300; 
            color: #000000; }

        input[type=checkbox] + label:before { 
            content: ""; 
            display: inline-block; 
            width: 16px; height: 16px; 
            background: #fff url() no-repeat 0 0; 
            background-size: 16px auto; 
            vertical-align: middle; 
            margin-right: 5px; 
            position: relative; 
            top: -4px; 
            left: 10px;
        }

        input[type=checkbox]:checked + label:before { 
            background-position-y: -16px; 
        }

        input[type=checkbox]:disabled + label { 
            opacity: 0.8; color: #111111; 
        }

        input[type=checkbox]:disabled + label:before { 
            opacity: 0.8; 
        }

        input[type=checkbox]:checked:disabled + label { 
            opacity: 0.8; 
            color: #111111; 
        }

        input[type=checkbox]:checked:disabled + label:before { 
            opacity: 0.8; 
            border: 1px solid #D3D3D3; 
        }

        label.radio { 
            position: relative; 
            font-size: 16px; 
            color: #333333; 
            font-weight: 400; 
        }

        input[type=radio] { 
            -webkit-transform: translateY(-2px); 
            -ms-transform: translateY(-2px); 
            transform: translateY(-2px); 
            background-color: #FFFF; 
            -webkit-appearance: none; 
            -moz-appearance: none; 
            margin-left: 16px; 
            border: 1px solid #979797; 
            width: 22px; 
            height: 22px; 
            border-radius: 100%; 
            position: relative; 
        }

        input[type=radio]:checked { 
            background-color: #FFFF; 
            -webkit-appearance: none; 
            -moz-appearance: none; 
            margin-left: 16px; 
            width: 22px; 
            height: 22px; 
            border-radius: 100%; 
        }

        input[type=radio]:checked::after { 
            content: ''; width: 14px; 
            height: 14px; 
            background-color: #ff5550; 
            position: absolute; 
            left: 3px; 
            top: 3px; 
            z-index: 2; 
            border-radius: 50%; 
        }

        .cart-content{
            float:left;
        }

        .cart-content .check-select { 
            padding-top: 0px; 
        }
        .cart-content .check-select input[type="checkbox"] + label:before { 
            content: ""; 
            width: 20px; 
            height: 20px; 
            background: #fff url('../../images/order/icon_checkAll.png') no-repeat 0 0; 
        }

        .cart-content .check-select input[type="checkbox"]:checked + label:before { 
            background-position-y: -20px;
        }

        .cart-content .check-select label { 
            font-size: 20px; 
        }

        .cart-content .check-select2 { 
            padding-left:6px; 
            border: 0px solid red;
        }
        .cart-content .check-select2 input[type="checkbox"] + label:before { 
            content: ""; 
            width: 20px; 
            height: 20px; 
            background: #fff url('../../images/order/icon_checkAll.png') no-repeat 0 0; 
        }

        .cart-content .check-select2 input[type="checkbox"]:checked + label:before { 
            background-position-y: -20px;
        }

        .cart-content .check-select2 label { 
            font-size: 20px; 
        }







